@page "/garden"
@using Common.DataStructure;
@using Common.Utilitary;

<PageTitle>Garden</PageTitle>
<div>
	@foreach (List<Product> list in Items)
	{
		<div class="row">
		@foreach(Product prod in list)
		{
			<Frontend.Shared.Components.Card ID="@prod.Id" Name="@prod.Name" Description="@prod.Description" Discount="@prod.Discount" Price="prod.Price" ImageBase64="@prod.ImageBase64" Tags="@String.Join(",",prod.Tags)" />
		}
		</div>
	}


</div>
@code{
	List<List<Product>> Items = new();
	Request request = new();
	User user=new();

	protected override async Task OnInitializedAsync()
	{
		List<Product> Data = await request.GetItemsWithTag("garden");
		GenerateStructureForDisplay(Data);
	}


	public void GenerateStructureForDisplay(List<Product> data)
	{
			Items.Add(new List<Product>(data.GetRange(0, data.Count * ( 1/ 3))));
			Items.Add(new List<Product>(data.GetRange(data.Count * (1 / 3), data.Count * (2 / 3))));
			Items.Add(new List<Product>(data.GetRange(data.Count * (2 / 3), data.Count )));
	}
}