@page "/shopping_cart"
@using Common.DataStructure;
@using Common.Utilitary;
@using Frontend.Shared.Components
@inject Blazored.SessionStorage.ISessionStorageService session

<PageTitle>Cart</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1 class="text-center">Please login to use the cart</h1>
    </NotAuthorized>
    <Authorized>
		<div>
			@foreach (Product product in items)
			{
				<CartItem Name="@product.Name" Discount="@product.Discount" Price="@product.Price" ProductId="@product.Id" UserId="@user.Id"></CartItem>
			}
		</div>
		
    </Authorized>
</AuthorizeView>


@code {
	public List<Product> items { get; set; } = new();
	User user = new();
	protected override async Task OnInitializedAsync()
	{
		try
		{
			Request request = new();
			
			user = await session.GetItemAsync<User>("UserData");
			items = await request.GetUserProductList(user.Username);
		}
		catch (Exception)
		{
			
			//Ignore
		}
	}
}