@using AdminPanel.src;
@using Common
<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        <h3>@ID</h3>
    </div>
    @*<img class="card-img-top imageThumbnail" src="Images/chair1.jpg" />*@
    <div class="card-body text-center">Name: @Name</div>
    <div class="card-body text-center">Description: @Description</div>
    <div class="card-body text-center">Price: @Price</div>
    <div class="card-body text-center">Discount: @Discount</div>

    <div class="card-footer text-center">
        <Button class="btn btn-primary m-1" @onclick="EditItem">Edit</Button>
        <Button class="btn btn-danger m-1" @onclick="RemoveItem">Delete</Button>
    </div>
</div>
@code {
    Request request = new();
    [Parameter]
    public string ID { get; set; } = "";
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public string Description { get; set; } = "";
    [Parameter]
    public int Price { get; set; }
    [Parameter]
    public int Discount { get; set; }

    public void EditItem()
    {

    }
    public async Task RemoveItem()
    {
        Product product = new();
        product.Id = ID;
        await request.RemoveOneByID(product);
    }
}